.notfound{
    background-image: url(https://i.ibb.co/GFr83BS/404-drib23.gif);
    height: 70vh;
 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.notfound h1 a{
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: rgb(243, 241, 239);
    font-size: 1rem;
    text-align: center;
}
.notfound a{
    text-decoration: none;
}